# GENERAL
BASE_URL_DEV=http://localhost:8000
BASE_URL_PROD=https://www.example.com

# DJANGO CONFIG
DJANGO_HOST=argxp.com
DJANGO_SECRET_KEY=secret-key-django-1029u84jkasday98sd89yuads
DJANGO_DEBUG=True
ALLOWED_HOSTS=["*"]
DJANGO_LOGS_FILE_PATH=../logs/django.log
# DJANGO_LOGS_FILE_PATH=/app/logs/django.log  # docker
DJANGO_SUPERUSER_EMAIL=admin@test.com
DJANGO_SUPERUSER_PASSWORD=password123
JWT_SIGNING_KEY=secret

# POSTGRES CONFIG
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=postgres
DATABASE_HOST=127.0.0.1 # or postgres
DATABASE_PORT=5432

# PGADMIN
PGADMIN_PORT=8888
PGADMIN_DEFAULT_EMAIL=dev@test.com
PGADMIN_DEFAULT_PASSWORD=password

# EMAIL SENDGRID CONFIG
SENDGRID_API_KEY=sendgrid_api_key
SENDGRID_DOMAIN=argxp.com
SENDGRID_FROM_EMAIL=no-reply@argxp.com

# ID ANALYZER
ID_ANALYZER_SERVER_API_KEY=secret
ID_ANALYZER_RESTRICTED_API_KEY=secret

# PAYMENTS
STRIPE_SECRET_KEY_DEV=sk_test
STRIPE_PUBLIC_KEY_DEV=pk_test
